.body-content {
    display: flex;
    justify-content: space-around;
}

.requirements-text {
    margin-bottom: 0;
}

.list-requirements {
    margin-top: 0;
}

.body-content-left {
    width: 35%;
}

.body-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body-content-right > img {
    width: 720px;
    margin-bottom: 48px;
}

#choice {
    font-size: 42px;
}

.contest-button-layout {
    display: flex;
    justify-content: center;
}

.contest-button {
    font-size: 24px;
    cursor: pointer;
}