.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wards {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wards > img {
    width: 350px;
}

.chicago-map-wards > img {
    width: 912px;
}

.target-ward {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    
}

.target-ward-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.target-ward-image > img {
    width: 600px;
}


