@font-face{
    font-family: GT America;
    src: url("../fonts/GT-America-Standard-Black-Trial.otf");
    font-style: normal;
    font-weight: 900;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: Montserrat;
    font-size: 20px;
}

nav {
    position: relative;
    width: 100%;
    background-color: black;
}

h1 {
    font-family: GT America;
    font-size: 64px;
    text-align: center;
}

h2 {
    font-family: GT America;
    font-size: 32px;
    text-align: center;
}

.nav-wrapper {
    display: block;
    box-sizing: border-box;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-wrapper > ul {
    list-style-type: none;
    margin: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding: 0;
    display: flex;
}

.nav-wrapper > ul > li {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    height: 40px;
}

.nav-menu-buttons {
    position: relative;
    padding: 0;
    border: none;
    color: white;
    text-decoration: none;
    background: none;
    overflow: visible;
    font-family: "GT America";
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-menu-buttons:after {
    content: "";
    position: absolute;
    background-color: white;
    height: .2rem;
    width: 0;
    left: 0;
    bottom: -10px;
}

.nav-menu-buttons:hover:after {
    width: 100%;
}